.qtdBaixa {
    background-color: #ff5555 !important;
}

#tabelaEstoque {
    width: 95%;
    border-collapse: collapse;
    margin: 0 auto;
}

#tabelaEstoque th, #tabelaEstoque td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}