.qtdBaixa {
    background-color: #ff5555 !important;
}

#tabelaEstoque {
    width: 95%;
    border-collapse: collapse;
    margin: 0 auto;
}

#tabelaEstoque th,
#tabelaEstoque td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.table-responsive::-webkit-scrollbar {
    width: 5px;
}

.table-responsive::-webkit-scrollbar-thumb {
    background-color: #747474;
    border-radius: 10px;
}

.table-responsive::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}