@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    background-color: #f6f7f8;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.sidebar {
    width: 0;
    position: fixed;
    top: 10px;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 0px 0px 200px rgba(0, 0, 0, 0.9);
    z-index: 1;
    height: 60%;
    overflow-y: scroll;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hidden {
    display: none;
}

#menu {
    background-color: #f1f1f1;
    border-radius: 10px;
    position: absolute;
    left: 10px;
    z-index: 1;
    width: 200px;
    margin-top: 20px;
    min-width: 10rem;
    padding: .5rem 0;
    transition: .3s all ease;
}

#menu a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: black;
    font-size: 0.85rem;
    padding: .25rem 1.5rem;
    border-radius: 2px;
    transition: .3s all ease;
}

#menu a i {
    margin-right: 10px;
}

#menu a:hover {
    background-color: #ccc;
}

img#logo {
    transition: .3s all ease;
}

img#logo:hover {
    transform: scale(1.1);
    cursor: pointer;
}

button#voltar {
    width: 100px;
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
    transition: 0.3s all ease;
    position: absolute;
    top: 10px;
    left: 10px;
}

button#voltar:hover {
    background-color: #ff0000;
    font-weight: bold;
}