@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f6f7f8;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.sidebar {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    max-height: 70%;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: showModal 0.3s ease;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
}

@keyframes showModal {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes hideModal {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(0.8);
        opacity: 0;
    }

}

.hide {
    animation: hideModal 0.15s forwards;
}

.hidden {
    display: none;
}

#menu {
    background-color: #f1f1f1;
    border-radius: 10px;
    position: absolute;
    left: 10px;
    z-index: 1;
    width: 200px;
    margin-top: 20px;
    min-width: 10rem;
    padding: .5rem 0;
    transition: .3s all ease;
    animation: showModal .3s ease;
}

#menu a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: black;
    font-size: 0.85rem;
    padding: .25rem 1.5rem;
    border-radius: 2px;
    transition: .3s all ease;
}

#menu a i {
    margin-right: 10px;
}

#menu a:hover {
    background-color: #ccc;
}

img#logo {
    transition: .3s all ease;
}

img#logo:hover {
    transform: scale(1.1);
    cursor: pointer;
}

button#voltar {
    width: 100px;
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
    transition: 0.3s all ease;
    position: absolute;
    top: 10px;
    left: 10px;
}

button#voltar:hover {
    background-color: #ff0000;
    font-weight: bold;
}

footer {
    background-color: #000000;
    color: #fff;
    font-size: 14px;
    padding: 5px;
}

footer p {
    margin-left: 50px;
}